<div class="table-responsive">
    <table class="table table-bordered table-condensed table-custom">
        <tr>
            <th width="15%">委托人姓名</th>
            <td width="35%">
                <input type="text" class="form-control input-sm search-auto" name="condition_target_name" maxlength="50">
            </td>
            <th width="15%">委托时间</th>
            <td>
                <table width="100%">
                    <tr>
                        <td width="48%">
                            <input type="text" class="form-control input-sm search-auto form-datetime" id="start-time" name="condition_start_time" maxlength="16" readonly="readonly" style="min-width:auto;width:100%;">
                        </td>
                        <td width="4%" align="center"> ~
                        </td>
                        <td width="48%">
                            <input type="text" class="form-control input-sm search-auto form-datetime" id="end-time" name="condition_end_time" maxlength="16" readonly="readonly" style="min-width:auto;width:100%;">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <th>委托内容</th>
            <td>
                <select name="condition_accident_type" class="form-control input-sm search-auto">
                    <option value="">请选择</option>
                    <option value="1">财产损失事故</option>
                    <option value="2">伤人事故</option>
                    <option value="3">死亡事故</option>
                </select>
            </td>
            <th>委托书编号</th>
            <td>
                <input type="text" class="form-control input-sm search-auto" name="condition_code" maxlength="255">
            </td>
        </tr>
<!--         <tr>
            <th>所属大队</th>
            <td>
                <select name="condition_from_department_id" class="form-control input-sm search-auto">
                    <option value="">请选择</option>
                    <volist name="department" id="vo">
                    <option value="{$vo.id}" <neq name="vo.cate" value="2">disabled="disabled" style="color:red;"</neq>>{$vo._prefix}{$vo.name}</option>
                    </volist>
                </select>
            </td>
            <th>委托事项</th>
            <td>
                <select name="condition_role_id" class="form-control input-sm search-auto" style="width:50%;float:left;">
                    <option value="">请选择</option>
                    <volist name="role" id="vo">
                        <option value="{$vo.id}">{$vo.name}</option>
                    </volist>
                </select>
                <select name="condition_role_id" class="form-control input-sm search-auto"  style="width:50%;float:left;">
                    <option value="">请选择</option>
                    <volist name="role" id="vo">
                        <option value="{$vo.id}">{$vo.name}</option>
                    </volist>
                </select>

            </td>
        </tr> -->
    </table>
</div>
<div style="margin-bottom:20px;">
    <button type="button" class="btn btn-primary" id="search-submit"><span class="glyphicon glyphicon-search"></span> 查询</button>
    <button type="button" class="btn btn-warning" id="search-reset"><span class="glyphicon glyphicon-repeat"></span> 重置</button>
</div>
