<extend name="Common/base" />
<block name="title">修改密码</block>
<block name="main.html">
    <!-- 页面主体 -->
    <div class="container-fluid main">
        <!-- 页头 -->
        <div class="head-space"></div>
        <!-- 基础信息 -->
        <div class="panel panel-default form-inline1">
            <!-- 面板标题 -->
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6"><span class="block-title">修改密码</span></div>
                    <div class="col-xs-6 text-right">
                        <button type="button" class="btn btn-danger btn-sm js-close"><span class="glyphicon glyphicon-off"></span> 关闭</button>
                    </div>
                </div>
            </div>
            <!-- 面板内容 -->
            <div class="panel-body">
                <table class="table table-bordered table-condensed table-custom" style="margin-bottom:0px">
                    <tr>
                        <th width="15%">原密码</th>
                        <td><input type="password" name="oldPassword" class="form-control input-sm post-gather" maxlength="16"></td>
                    </tr>
                    <tr>
                        <th>新密码</th>
                        <td><input type="password" name="password" class="form-control input-sm post-gather" maxlength="16"></td>
                    </tr>
                    <tr>
                        <th>确认新密码</th>
                        <td><input type="password" name="password1" class="form-control input-sm post-gather" maxlength="16"></td>
                    </tr>
                </table>
            </div>
            <div class="text-left" style="margin:0 0 15px 16px">
                <button type="button" class="btn btn-primary" id="submit"><span class="glyphicon glyphicon-floppy-disk"></span> 保存</button>
                <button type="button" class="btn btn-warning" id="reset"><span class="glyphicon glyphicon-repeat"></span> 重置</button>
            </div>
        </div>
    </div>
</block>
<block name="head.ext">
    <script type="text/javascript">
        // 定义URL地址
        url.savePassword = "{:U('savePassword')}";
    </script>
</block>
<block name="foot.ext">
    <import file="js.Index.password?" basepath="{$Think.SRC_MODULE_URL}" />
</block>
