<div class="panel panel-primary" style="margin-bottom:0;">
    <!-- 面板标题 -->
    <div class="panel-heading">复核受理</div>
    <!-- 面板内容 -->
    <div class="list-group" style="height:204px;overflow:auto;" id="caseReviewAcceptContent">
        <div class="list-group-item" id="caseReviewAccept_0" style="display:none;"><span class="glyphicon glyphicon-th"></span> 未受理</div>
        <a href="{:U('CaseReviewAcceptHandleInfo/acceptNotice?case_review_id='.$info['caseReview']['id'])}" class="list-group-item js-open js-end-refresh" id="caseReviewAccept_1" style="display:none;"><span class="glyphicon glyphicon-new-window"></span> 复核受理通知</a>
        <a href="{:U('CaseReviewAcceptHandleInfo/refuseNotice?case_review_id='.$info['caseReview']['id'])}" class="list-group-item js-open js-end-refresh" id="caseReviewAccept_2" style="display:none;"><span class="glyphicon glyphicon-new-window"></span> 复核不受理通知</a>
        <div class="list-group-item" style="display:none;"></div>
    </div>
</div>
