<extend name="Common/base" />
<block name="title">现场勘查信息</block>
<block name="main.html">
    <!-- 页面主体 -->
    <div class="container-fluid main">
        <!-- 页头 -->
        <div class="head-space"></div>
        <!-- 基础信息 -->
        <div class="panel panel-default form-inline1">
            <!-- 面板标题 -->
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6"><span class="block-title">现场勘查信息</span></div>
                    <div class="col-xs-6 text-right">
                        <button type="button" class="btn btn-danger btn-sm js-close"><span class="glyphicon glyphicon-off"></span> 关闭</button>
                    </div>
                </div>
            </div>
            <!-- 面板内容 -->
            <div class="panel-body">
                <include file="CaseSurveyHandleInfo/detail/base" />
            </div>
        </div>
        <div class="panel panel-default form-inline1" style="margin-top:20px;">
            <!-- 面板标题 -->
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6"><span class="block-title">现场勘查详细信息</span></div>
                </div>
            </div>
            <!-- 面板内容 -->
            <div class="panel-body">
                <include file="CaseSurveyHandleInfo/detail/advance" />
            </div>
        </div>
        <div class="panel panel-default form-inline photo-box" style="margin-top:20px;" id="3">
            <!-- 面板标题 -->
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6"><span class="block-title" tabindex="1" id="box1">现场图</span></div>
                    <div class="col-xs-6 text-right">
                        <button type="button" class="btn btn-primary btn-sm download"><span class="glyphicon glyphicon-download"></span> 下载</button>
                        <a role="button" data-toggle="collapse" href="#collapseExample1" aria-expanded="false" aria-controls="collapseExample" style="margin-right: 15px;"><span class="glyphicon glyphicon-menu-up"></span></a>
                    </div>
                </div>
            </div>
            <!-- 面板内容 -->
            <div class="panel-body collapse in" id="collapseExample1">
                <include file="CaseSurveyHandleInfo/detail/photoTable1" />
            </div>
        </div>
        <div class="panel panel-default form-inline photo-box" style="margin-top:20px;" id="list-all">
            <!-- 面板标题 -->
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6"><span class="block-title" tabindex="2" id="box2">现场照片</span></div>
                    <div class="col-xs-6 text-right">
                        <button type="button" class="btn btn-primary btn-sm download"><span class="glyphicon glyphicon-download"></span> 下载</button>
                        <a role="button" data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample" style="margin-right: 15px;"><span class="glyphicon glyphicon-menu-up"></span></a>
                    </div>
                </div>
            </div>
            <!-- 面板内容 -->
            <div class="panel-body collapse in" id="collapseExample2">
                <div class="photo-box" style="zoom:1;overflow: visible;" id="5">
                    <h3 class="row">
                        <div class="col-xs-6"><span class="block-title">方位照相</span></div>
                    </h3>
                    <div class="row panel-body photo-box" data-cate="5">
                        <include file="CaseSurveyHandleInfo/detail/photoTable3" />
                    </div>
                </div>
                <div class="photo-box" style="zoom:1;overflow: visible;" id="6">
                    <h3 class="row">
                        <div class="col-xs-6"><span class="block-title">概览照相</span></div>
                    </h3>
                    <div class="row panel-body photo-box" data-cate="6">
                        <include file="CaseSurveyHandleInfo/detail/photoTable4" />
                    </div>
                </div>
                <div class="photo-box" style="zoom:1;overflow: visible;" id="7">
                    <h3 class="row">
                        <div class="col-xs-6"><span class="block-title">局部照相</span></div>
                    </h3>
                    <div class="row panel-body photo-box" data-cate="7">
                        <include file="CaseSurveyHandleInfo/detail/photoTable5" />
                    </div>
                </div>
                <div class="photo-box" style="zoom:1;overflow: visible;" id="8">
                    <h3 class="row">
                        <div class="col-xs-6"><span class="block-title">元素照相</span></div>
                    </h3>
                    <div class="row panel-body photo-box" data-cate="8">
                        <include file="CaseSurveyHandleInfo/detail/photoTable6" />
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default form-inline photo-box" style="margin-top:20px;" id="9">
            <!-- 面板标题 -->
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6"><span class="block-title" tabindex="3" id="box3">现场勘查笔录</span></div>
                    <div class="col-xs-6 text-right">
                        <button type="button" class="btn btn-primary btn-sm download"><span class="glyphicon glyphicon-download"></span> 下载</button>
                        <a role="button" data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample" style="margin-right: 15px;"><span class="glyphicon glyphicon-menu-up"></span></a>
                    </div>
                </div>
            </div>
            <!-- 面板内容 -->
            <div class="panel-body collapse in" id="collapseExample3">
                <include file="CaseSurveyHandleInfo/detail/photoTable7" />
            </div>
        </div>
        <div class="panel panel-default form-inline photo-box" style="margin-top:20px;" id="10">
            <!-- 面板标题 -->
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6"><span class="block-title" tabindex="4" id="box4">现场遗留物品清单</span></div>
                    <div class="col-xs-6 text-right">
                        <button type="button" class="btn btn-primary btn-sm download"><span class="glyphicon glyphicon-download"></span> 下载</button>
                        <a role="button" data-toggle="collapse" href="#collapseExample4" aria-expanded="false" aria-controls="collapseExample" style="margin-right: 15px;"><span class="glyphicon glyphicon-menu-up"></span></a>
                    </div>
                </div>
            </div>
            <!-- 面板内容 -->
            <div class="panel-body collapse in" id="collapseExample4">
                <include file="CaseSurveyHandleInfo/detail/photoTable8" />
            </div>
        </div>
        <input type="hidden" id="case_id" name="case_id" class="post-gather" value="{$case['id']}">
        <input type="hidden" id='id' name="id" class="post-gather" value="{$id}">
    </div>
</block>
<block name="head.ext">
    <style>
        .block-title:focus{
            outline-style: none;
        }
    </style>
    <script type="text/javascript">
        // 定义URL地址
        url.photoList = "{:U('photoList')}";
        url.download = "{:U('Common/download')}";
    </script>
</block>
<block name="foot.ext">
    <import file="js.CaseSurveyHandleInfo.detail?" basepath="{$Think.SRC_MODULE_URL}" />
</block>
