<extend name="Common/base" />
<block name="title">新增现场勘查信息</block>
<block name="main.html">
    <!-- 页面主体 -->
    <div class="container-fluid main">
        <!-- 页头 -->
        <div class="head-space"></div>
        <!-- 基础信息 -->
        <div class="panel panel-default form-inline1">
            <!-- 面板标题 -->
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6"><span class="block-title">新增现场勘查信息</span></div>
                    <div class="col-xs-6 text-right">
                        <button type="button" class="btn btn-danger btn-sm js-close"><span class="glyphicon glyphicon-off"></span> 关闭</button>
                    </div>
                </div>
            </div>
            <!-- 面板内容 -->
            <div class="panel-body">
                <include file="CaseSurveyHandle/add/base" />
            </div>
            <div class="text-left" style="margin: 0 0 15px 16px">
                <button type="button" class="btn btn-primary" id="submit"><span class="glyphicon glyphicon-floppy-disk"></span> 保存</button>
                <button type="button" class="btn btn-warning" id="reset"><span class="glyphicon glyphicon-repeat"></span> 重置</button>
            </div>
        </div>
        <!-- 按钮 -->
        <input type="hidden" name="case_id" class="post-gather" value="{$case['id']}">
    </div>
</block>
<block name="head.ext">
    <script type="text/javascript">
        // 定义URL地址
        url.insert = "{:U('insert')}";
    </script>
</block>
<block name="foot.ext">

    <import file="js.CaseSurveyHandle.add?" basepath="{$Think.SRC_MODULE_URL}" />
</block>
