<div class="panel-body">
    <table class="table table-bordered table-condensed table-custom">
        <!--  -->
        <tr>
            <th width="16.6%" rowspan="2">事故原因综合分析</th>
            <th width="21%">第1因素</th>
            <td width="21%" colspan="2">
                <input type="text" class="form-control input-sm post-gather" name="reason_1" maxlength="255">
            </td>
            <th width="21%" colspan="2">第2因素</th>
            <td width="%" colspan="2">
                <input type="text" class="form-control input-sm post-gather" name="reason_2" maxlength="255">
            </td>
        </tr>
        <!--  -->
        <!--  -->
        <tr>
            <th width="20%">第3因素</th>
            <td width="20%" colspan="2">
                <input type="text" class="form-control input-sm post-gather" name="reason_3" maxlength="255">
            </td>
            <th width="20%" colspan="2">第4因素</th>
            <td width="20%" colspan="2">
                <input type="text" class="form-control input-sm post-gather" name="reason_4" maxlength="255">
            </td>
        </tr>
        <!--  -->
    </table>
</div>
