<extend name="Common/base" />
<block name="title">审批事故中止信息</block>
<block name="main.html">
    <!-- 页面主体 -->
    <div class="container-fluid main">
        <!-- 页头 -->
        <div class="head-space"></div>
        <!-- 基础信息 -->
        <div class="panel panel-default form-inline1">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6"><span class="block-title">审批</span></div>
                    <div class="col-xs-6 text-right">
                        <button type="button" class="btn btn-danger btn-sm js-close"><span class="glyphicon glyphicon-off"></span> 关闭</button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-condensed table-custom" id="approval-table">
                    <tr>
                        <th style="width:15%">审批意见</th>
                        <td style="width:15%;">
                            <select id="status" name="status" class="form-control input-sm post-gather" style="margin-top: 12px;">
                                <option value="1" <if condition="$checkRs['status'] eq 1">selected</if>>同意</option>
                                <option value="2" <if condition="$checkRs['status'] eq 2">selected</if>>不同意</option>
                            </select>
                        </td>
                        <td>
                            <textarea class="form-control post-gather" style="resize: none;width:100%" id="remark" name="remark">{$checkRs.remark}</textarea>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <input type="hidden" id="id" name="id" value="{$id}" class="post-gather">
        <input type="hidden" id="level" name="level" value="{$checkRs['level']}" class="post-gather">
        <input type="hidden" id="cate" name="cate" value="3" class="post-gather">
        <div style="text-align: left;padding-bottom: 15px;">
            <a href="{:U('CaseInfo/detail?id='.$info['case_id'])}" class="btn btn-primary js-open"><span class="glyphicon glyphicon-repeat"></span> 案件详细信息</a>
            <button type="button" class="btn btn-primary" id="submit" <if condition="$checkRs['level'] neq 2">disabled</if> ><span class="glyphicon glyphicon-saved"></span> 确定</button>
            <if condition="$checkRs['level'] neq 2">
                <button type="button" class="btn btn-primary" id="approval"><span class="glyphicon glyphicon-pencil"></span> 确定并提请审批</button>
            </if>
            <a href="{:U('approvalList?id='.$id)}" class="btn btn-primary js-open"><span class="glyphicon glyphicon-print"></span> 审批信息</a>
        </div>
        <div class="panel panel-default form-inline1">
            <!-- 面板标题 -->
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6"><span class="block-title">事故中止信息</span></div>
                </div>
            </div>
            <!-- 面板内容 -->
            <div class="panel-body">
                <table class="table table-bordered table-condensed table-custom" id="termination-info">
                    <tbody>
                        <tr>
                            <th>呈请事故中止</th>
                        </tr>
                        <tr>
                            <td><textarea class="form-control" style="resize: none;width:100%;height:400px;" disabled>{$info.content}</textarea></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</block>
<block name="foot.html">
    <div id="approval-box" class="container-fluid" style="display:none;margin-top:20px;">
        <div class="panel panel-default form-inline1">
            <!-- 面板标题 -->
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6"><span class="block-title">审核人确认</span></div>
                    <div class="col-xs-6 text-right">
                        <button type="button" class="btn btn-danger btn-sm" id="approval-close"><span class="glyphicon glyphicon-off"></span> 关闭</button>
                    </div>
                </div>
            </div>
            <!-- 面板内容 -->
            <div class="panel-body">
                <div class="container-fluid">
                    <table class="table table-bordered table-condensed table-custom" id="approval-list">
                        <tr>
                            <th width="15%">审核人</th>
                            <if condition="count($list) neq '0'">
                                <td>
                                    <div class="checkbox">
                                        <volist name="list" id="vo">
                                            <div><label><input type="radio" name="check" value="{$vo.id}" <if condition="$i eq 1">checked</if>>{$vo.department_name}:{$vo.true_name}</label></div>
                                        </volist>
                                    </div>
                                </td>
                                <else />
                                <td>无受案等级审批权限用户</td>
                            </if>
                        </tr>
                    </table>
                    <button type="button" class="btn btn-primary" id="approval-submit"><span class="glyphicon glyphicon-saved"></span> 确定</button>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="head.ext">
    <script type="text/javascript">
        url.check = "{:U('checkCaseInfo')}";
        url.checkApprove = "{:U('checkApprove')}";
        var level = "{$checkRs['level']}";
        var status = "{$checkRs['status']}";
        $(function(){
            $('#termination-info textarea').prop('disabled',true);
            if(status != '0'){
                $('#approval-table textarea,select').prop('disabled',true);
                $('#approval,#submit').hide();
            }
        });
    </script>
</block>
<block name="foot.ext">

    <import file="js.CaseCheckLeader.caseTerminationInfo?" basepath="{$Think.SRC_MODULE_URL}" />
</block>
