<div id="client-list">
    <volist name="caseReviewApply" id="vo">
        <div class="panel panel-primary client-item" data-id="{$vo.id}" data-name="{$vo.name}" style="cursor:pointer;">
            <!-- 面板标题 -->
            <div class="panel-heading">{$vo.name|default='-'}</div>
            <!-- 面板内容 -->
            <div class="list-group collapse" data-parent="#client-list">
                <div class="list-group-item">性别：{$vo['sex']?'男':'女'}</div>
                <div class="list-group-item">身份证号码：{$vo.idno|default='-'}</div>
                <div class="list-group-item">与当事人关系：{$vo.relation|default='-'}</div>
            </div>
        </div>
    </volist>
</div>
