<!-- tab -->
<include file="CaseCognizance/unCognizance/investigation_report/tab" />
<!-- 列表面板 -->
<div class="panel panel-default">
    <!-- 面板头 -->
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-6"><span class="block-title">调查报告</span></div>
            <div class="col-xs-6 text-right">
                <button type="button" class="btn btn-danger btn-sm js-close"><span class="glyphicon glyphicon-off"></span> 关闭</button>
            </div>
        </div>
    </div>
    <!-- 面板主体 -->
    <div class="panel-body">
        <include file="CaseCognizance/unCognizance/investigation_report/base" />
    </div>
    <div  class="text-left" style="margin:0 0 15px 16px">
        <button type="button" class="btn btn-primary" id="submit"><span class="glyphicon glyphicon-floppy-disk"></span> 保存</button>
        <button type="button" class="btn btn-primary" id="print" <if condition="$info['id'] eq '' or $reportInfo['check_status'] eq 2">disabled</if> ><span class="glyphicon glyphicon-print"></span> 打印调查报告书</button>
        <button type="button" class="btn btn-warning" id="reset"><span class="glyphicon glyphicon-repeat"></span> 重置</button>
    </div>
</div>
<input type="hidden" id="case_id" name="case_id" class="post-gather" value="{$case['id']}">
<input type="hidden" id="id" name="id" class="post-gather" value="{$info['id']}">
<input type="hidden" id="case_cognizance_id" name="case_cognizance_id" class="post-gather" value="{$info['case_cognizance_id']}">
<if condition="count($backList) neq 0 or count($historyList) neq 0">
    <!-- 列表面板 -->
    <div class="panel panel-default" style="margin-top: 20px;">
        <!-- 面板头 -->
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-6"><span class="block-title">历史调查报告</span></div>
            </div>
        </div>
        <!-- 面板主体 -->
        <div class="panel-body">
            <include file="CaseCognizance/unCognizance/investigation_report/historyList" />
        </div>
    </div>
</if>
{:W('CasePhoto/index', array('调查报告列表',$case['id'],18,$info['case_cognizance_id']))}
<script>
    var is_back = "{$cognizanceInfo['is_back']}";
    var is_submit = "{$cognizanceInfo['is_submit']}";
    var check_status = "{$cognizanceInfo['check_status']}";
    var review_count = "{count($reviewList)}";
</script>