<extend name="Common/base" />
<block name="title">复核事项答复意见</block>
<block name="main.html">
    <!-- 页面主体 -->
    <div class="container-fluid main">
        <!-- 页头 -->
        <div class="head-space"></div>
        <!-- 面板 -->
        <div class="panel panel-default">
            <!-- 面板头 -->
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6"><span class="block-title">复核事项答复意见</span></div>
                    <div class="col-xs-6 text-right">
                        <button type="button" class="btn btn-danger btn-sm js-close"><span class="glyphicon glyphicon-off"></span> 关闭</button>
                    </div>
                </div>
            </div>
            <!-- 面板主体 -->
            <div class="panel-body">
                <table class="table table-bordered table-condensed table-sheet" style="margin-bottom:0;">
                    <tr>
                        <th width="18%">操作人</th>
                        <th width="18%">时间</th>
                        <th>处理意见</th>
                    </tr>
                    <volist name="caseReply" id="vo">
                        <tr>
                            <td>{$vo.replyer_user_name}</td>
                            <td>{$vo.reply_time|date='Y-m-d H:i',###}</td>
                            <td>{$vo.content|default='-'}</td>
                        </tr>
                    </volist>
                </table>
            </div>
        </div>
        <!-- 表格 结束 -->
        {:W('CasePhoto/index', array('复核事项答复意见书列表',$case['id'],52))}
    </div>
    <!-- 页面主体 结束 -->
</block>
<block name="head.ext">
    <script type="text/javascript">
    // 定义URL地址
    </script>
</block>
<block name="foot.ext">
    <import file="js.CaseReplyHandle.index?" basepath="{$Think.SRC_MODULE_URL}" />
</block>
