<extend name="Common/base" />
<block name="title">文书查看目录</block>
<block name="main.html">
    <!-- 页面主体 -->
    <div class="container-fluid main">
        <!-- 页头 -->
        <div class="head-space"></div>
        <div class="panel panel-default form-inline1">
            <!-- 面板标题 -->
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6"><span class="block-title">文书查看目录</span></div>
                    <div class="col-xs-6 text-right">
                        <button type="button" class="btn btn-danger btn-sm js-close"><span class="glyphicon glyphicon-off"></span> 关闭</button>
                    </div>
                </div>
            </div>
            <!-- 面板内容 -->
            <div class="panel-body">
                <div class="col-xs-12" id="tree"></div>
            </div>
        </div>
    </div>
</block>
<block name="head.ext">
    <script type="text/javascript">
        // 定义URL地址
       var json ='{$json}';
    </script>
</block>
<block name="foot.ext">
    <import file="js.CaseCatalog.index?" basepath="{$Think.SRC_MODULE_URL}" />
</block>
