<extend name="Common/base" />
<block name="title">道路信息</block>
<block name="main.html">
    <!-- 页面主体 -->
    <div class="container-fluid main">
        <!-- 页头 -->
        <div class="head-space"></div>
        <!-- 面板 -->
            <include file="CaseExtRoad/edit/tab" />       
       
        <div class="panel panel-default">
            <!-- 面板标题 -->
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6"><span class="block-title">道路信息</span></div>
                    <div class="col-xs-6 text-right">
                        <button type="button" class="btn btn-danger btn-sm js-close"><span class="glyphicon glyphicon-off"></span> 关闭</button>
                    </div>
                </div>
            </div>
          <include file="CaseExtRoad/edit/infoTable" />
        </div>
    </div>
</block>
<block name="head.ext">
    <script type="text/javascript">
    // 定义URL地址
    url.update = "{:U('update')}";
     url.getHiddenDangerId = "{:U('getHiddenDangerId')}";
    var default_data = '{$dataJson}';

    </script>
</block>
<block name="foot.ext">
    <import file="js.CaseExtRoad.edit?" basepath="{$Think.SRC_MODULE_URL}" />
</block>
