<extend name="Common/base" />
<block name="title">待办工作</block>
<block name="main.html">
    <!-- 页面主体 -->
    <div class="container-fluid main">
        <!-- 页头 -->
        <div class="head-space"></div>
        <!-- 选项卡 -->
        <include file="CaseReviewHandle/pending/tab" />
        <!-- 列表面板 -->
        <div class="panel panel-default">
            <!-- 面板头 -->
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6"><span class="block-title">待办工作</span></div>
                    <div class="col-xs-6 text-right">
                        <a href="{:U('search')}" class="btn btn-primary btn-sm js-open js-end-refresh"><span class="glyphicon glyphicon-plus"></span> 受理复核</a>
                        <button type="button" class="btn btn-danger btn-sm js-close"><span class="glyphicon glyphicon-off"></span> 关闭</button>
                    </div>
                </div>
            </div>
            <!-- 面板主体 -->
            <div class="panel-body">
                <!-- 搜索 -->
                <include file="CaseReviewHandle/pending/search" />
                <!-- 表格 -->
                <div class="table-responsive" id="table-content"></div>
                <!-- 分页 -->
                <include file="Inc/page" />
            </div>
        </div>
        <!-- 表格 结束 -->
    </div>
    <!-- 页面主体 结束 -->
</block>
<block name="head.ext">
    <script type="text/javascript">
    // 定义URL地址
    url.table = "{:U('pendingTable')}";
    </script>
</block>
<block name="foot.ext">

    <import file="js.CaseReviewHandle.pending?" basepath="{$Think.SRC_MODULE_URL}" />
</block>
