<!-- 面板内容 -->
<div class="panel-body">
    <table class="table table-bordered table-condensed table-custom">
        <input type="hidden" class="post-gather-entrust-dis" name="case_id" value="{$caseData.id}" />
        <input type="hidden" class="post-gather-entrust-dis" name="case_checkup_id" value="{$caseCheckupData.id}" />
        <!-- -->
        <tr>
            <th width="20%"><span class="text-danger">*</span>&nbsp;委托鉴定单位</th>
            <td width="30%">
                <input type="hidden" class="post-gather-entrust-dis" name="from_department_id" value="{$caseDealUserData.department_id}" />
                <input type="text" class="form-control input-sm " value="{$caseDealUserData.department_name}" readonly="readonly" style="width:100%;">
            </td>
            <th width="20%"><span class="text-danger">*</span>&nbsp;委托时间</th>
            <td width="30%">
                <input type="text" class="form-control input-sm post-gather-entrust-dis" value="{$caseCheckupData.create_time|date='Y-m-d H:i',###}" name="entrust_time" maxlength="16" readonly="readonly" style="width:100%;">
            </td>
        </tr>
        <!--  -->
    </table>
    <table class="table table-bordered table-condensed table-custom" style="margin-top:-21px;">
        <!--  -->
        <tr>
            <th rowspan="4" width="5%"><span class="text-danger">*</span>&nbsp;送检人</th>
            <th colspan="2" width="15%"><span class="text-danger">*</span>&nbsp;姓名</th>
            <td width="15%">
                <input type="text" class="form-control input-sm post-gather-entrust-dis" name="carry_name_1" value="{$caseCheckupEntrustData.carry_name_1}" maxlength="20" readonly="readonly" style="min-width:auto!important;">
            </td>
            <th width="15%">职务</th>
            <td width="15%">
                <input type="text" class="form-control input-sm post-gather-entrust-dis" name="carry_post_1" value="{$caseCheckupEntrustData.carry_post_1}" maxlength="50" readonly="readonly" style="min-width:auto!important;">
            </td>
            <th width="15%"><span class="text-danger">*</span>&nbsp;证件名称及号码</th>
            <td colspan="2" width="20%">
                <input type="text" class="form-control input-sm post-gather-entrust-dis" name="carry_idno_1" value="{$caseCheckupEntrustData.carry_idno_1}" maxlength="50" readonly="readonly" style="min-width:auto!important;">
            </td>
        </tr>
        <tr>
            <th colspan="2"><span class="text-danger">*</span>&nbsp;姓名</th>
            <td>
                <input type="text" class="form-control input-sm post-gather-entrust-dis" name="carry_name_2" value="{$caseCheckupEntrustData.carry_name_2}" maxlength="20" readonly="readonly" style="min-width:auto!important;">
            </td>
            <th>职务</th>
            <td>
                <input type="text" class="form-control input-sm post-gather-entrust-dis" name="carry_post_2" value="{$caseCheckupEntrustData.carry_post_2}" maxlength="50" readonly="readonly" style="min-width:auto!important;">
            </td>
            <th><span class="text-danger">*</span>&nbsp;证件名称及号码</th>
            <td colspan="2">
                <input type="text" class="form-control input-sm post-gather-entrust-dis" name="carry_idno_2" value="{$caseCheckupEntrustData.carry_idno_2}" maxlength="250" readonly="readonly" style="min-width:auto!important;">
            </td>
        </tr>
        <tr>
            <th colspan="2">通讯地址</th>
            <td colspan="2">
                <input type="text" class="form-control input-sm post-gather-entrust-dis" name="carry_address" value="{$caseCheckupEntrustData.carry_address}" maxlength="250" readonly="readonly" style="width:100%;">
            </td>
            <th colspan="2">邮政编码</th>
            <td colspan="2">
                <input type="text" class="form-control input-sm post-gather-entrust-dis" name="carry_zip" value="{$caseCheckupEntrustData.carry_zip}" maxlength="6" readonly="readonly" style="min-width:auto!important;">
            </td>
        </tr>
        <tr>
            <th colspan="2">联系电话</th>
            <td colspan="2">
                <input type="text" class="form-control input-sm post-gather-entrust-dis" name="carry_tel" value="{$caseCheckupEntrustData.carry_tel}" maxlength="16" readonly="readonly" style="min-width:auto!important;">
            </td>
            <th colspan="2">传真号码</th>
            <td colspan="2">
                <input type="text" class="form-control input-sm post-gather-entrust-dis" name="carry_fax" value="{$caseCheckupEntrustData.carry_fax}" maxlength="16" readonly="readonly" style="min-width:auto!important;">
            </td>
        </tr>
        <!--  -->
    </table>
    <table class="table table-bordered table-condensed table-custom" style="margin-top:-21px;">
        <!--  -->
        <tr>
            <th colspan="3" width="20%"><span class="text-danger">*</span>&nbsp;鉴定机构名称</th>
            <td colspan="6" width="80%">
                <input type="hidden" name="to_checkup_org_id" class="post-gather-entrust-dis" maxlength="16" value="{$caseCheckupData.checkuporg_id}" />
                <input type="text" class="form-control input-sm post-gather-entrust-dis" name="to_checkup_org_name" maxlength="16" value="{$caseCheckupData.checkuporg_name}" readOnly="readOnly" style="min-width:auto!important;">
            </td>
        </tr>
        <tr>
            <th colspan="3" width="20%"><span class="text-danger">*</span>&nbsp;案（事）件名称</th>
            <td colspan="2" width="30%">
                <input type="text" class="form-control input-sm post-gather-entrust-dis" name="case_name" value="{$caseCheckupEntrustData.case_name}" maxlength="50" readonly="readonly" style="min-width:auto!important;">
            </td>
            <th width="20%"><span class="text-danger">*</span>&nbsp;案件编号</th>
            <td colspan="3" width="30%">
                <input type="text" class="form-control input-sm post-gather-entrust-dis" name="case_code" value="{$caseData.code}" readOnly="readOnly" maxlength="50" style="min-width:auto!important;">
            </td>
        </tr>
        <!--  -->
    </table>
    <table class="table table-bordered table-condensed table-custom" style="margin-top:-21px;width:99.9%">
            <input type="hidden" class="checkup_org_item_pid"  value="{$caseCheckupData['checkup_org_item_pid']}">

        <!--  -->
        <tr>
            <th rowspan="2" width="10%">被鉴定人的情况</th>
            <th width="10%">姓名</th>
            <td width="15%">
                <input type="hidden" name="target_client_id" class="post-gather-entrust-dis" id="case_client_id" value="{$caseCheckupEntrustData.target_client_id}">
                <input type="text" class="form-control input-sm post-gather-entrust-dis" id="target_name" readOnly="readOnly" value="{$caseCheckupEntrustData.target_name}" maxlength="16" style="min-width:auto!important;">
            </td>
            <th width="7.5%">性别</th>
            <td width="7.5%">
                <if condition="$caseCheckupEntrustData.target_sex eq '0'">
                    <assign name="sexForRead" value="女" />
                </if>
                <if condition="$caseCheckupEntrustData.target_sex eq '1'">
                    <assign name="sexForRead" value="男" />
                </if>
                <input type="hidden" class="form-control input-sm post-gather-entrust-dis  jimmy-cancel-entrust" name="target_sex" id="target_sex" value="{$caseCheckupEntrustData.target_sex}" maxlength="10">
                <input type="text" class="form-control input-sm  jimmy-cancel-entrust" id="sex_read" readOnly="readOnly" value="{$sexForRead}" style="min-width:auto!important;">
            </td>
            <th width="10%">年龄</th>
            <td width="12.5%">
                <input type="text" class="form-control input-sm post-gather-entrust-dis  jimmy-cancel-entrust" name="target_age" value="{$caseCheckupEntrustData.target_age}" id="target_age" maxlength="10" readOnly="readOnly" style="min-width:auto!important;">
            </td>
            <th width="10%">电话</th>
            <td width="17.5%">
                <input type="text" class="form-control input-sm post-gather-entrust-dis  jimmy-cancel-entrust" name="target_tel" id="target_tel" value="{$caseCheckupEntrustData.target_tel}" maxlength="250" readOnly="readOnly" style="min-width:auto!important;">
            </td>
        </tr>
        <tr>
            <th>单位</th>
            <td colspan="3">
                <input type="text" class="form-control input-sm post-gather-entrust-dis  jimmy-cancel-entrust" name="target_company" id="target_company" value="{$caseCheckupEntrustData.target_company}" readonly="readonly" maxlength="250" style="min-width:auto!important;">
            </td>
            <th>现住址</th>
            <td colspan="3">
                <input type="text" class="form-control input-sm post-gather-entrust-dis  jimmy-cancel-entrust" name="target_address" value="{$caseCheckupEntrustData.target_address}" id="target_address" maxlength="250" readOnly="readOnly" style="min-width:auto!important;">
            </td>
        </tr>
        <tr>
            <th colspan="2" width="20%"><span class="text-danger">*</span>&nbsp;简要案情</th>
            <td colspan="7">
                <textarea class="form-control input-sm post-gather-entrust-dis" name="summary" maxlength="16" style="width:100%;height:80px;outline:none;resize:none;" maxlength="65530" readonly="readonly">{$caseCheckupEntrustData.summary}</textarea>
            </td>
        </tr>
        <tr>
            <th colspan="2"><span class="text-danger">*</span>&nbsp;原鉴定情况</th>
            <td colspan="7">
                <textarea class="form-control input-sm post-gather-entrust-dis" name="old_result" maxlength="16" style="width:100%;height:80px;outline:none;resize:none;" maxlength="65530" readonly="readonly">{$caseCheckupEntrustData.old_result}</textarea>
            </td>
        </tr>
        <tr>
            <th colspan="2"><span class="text-danger">*</span>&nbsp;送检材料</th>
            <td colspan="7">
                <textarea class="form-control input-sm post-gather-entrust-dis" name="checkup_doc" maxlength="16" style="width:100%;height:80px;outline:none;resize:none;" maxlength="65530" readonly="readonly">{$caseCheckupEntrustData.checkup_doc}</textarea>
            </td>
        </tr>
        <tr>
            <th colspan="2"><span class="text-danger">*</span>&nbsp;委托鉴定单位的鉴定要求和诚信声明</th>
            <td colspan="7">
                <textarea class="form-control input-sm post-gather-entrust-dis" name="remark" maxlength="16" style="width:100%;height:80px;outline:none;resize:none;" maxlength="65530" readonly="readonly">{$caseCheckupEntrustData.remark}</textarea>
            </td>
        </tr>
    </table>
    <input name="id" class="post-gather-edit" type="hidden" value="{$caseCheckupEntrustData.id}" />
    <button type="button" class="btn btn-primary  btn-sm-jimmy "  disabled="disabled"><span class="glyphicon glyphicon-floppy-disk"></span> 保存</button>
    <if condition="$caseCheckupEntrustData.checkuporg_is_end eq 0">
        <input name="is_submit" class="post-gather-edit" type="hidden" value="1" />
        <if condition="$caseCheckupEntrustData.is_submit eq '0'">
            <button type="button" class="btn btn-primary  btn-sm-jimmy " disabled="disabled"><span class="glyphicon glyphicon-saved"></span> 提交</button>
            <else/>
             <button type="button" class="btn btn-primary  btn-sm-jimmy "  disabled="disabled"><span class="glyphicon glyphicon-saved"></span> 提交</button>
           
        </if>
        <else/>
        <input name="is_finish" class="post-gather-edit" type="hidden" value="1" />
        <if condition="$caseCheckupEntrustData.is_finish eq '0'">
            <button type="button" class="btn btn-primary  btn-sm-jimmy "  disabled="disabled"><span class="glyphicon glyphicon-saved"></span> 完成</button>
            <else/>
            <button type="button" class="btn btn-primary  btn-sm-jimmy "  disabled="disabled"><span class="glyphicon glyphicon-saved"></span> 完成</button>
        </if>
    </if>
    <if condition="$caseCheckupData.is_delay eq '1'">
          <button type="button" class="btn btn-primary btn-sm-jimmy delay-forbidden"><span class="glyphicon glyphicon-ok"></span> 呈请延期</button>
    <else/>
    <a  class="btn btn-primary btn-sm-jimmy " disabled="disabled"><span class="glyphicon glyphicon-ok"></span> 呈请延期</a>
    </if>
    <a href="{:U('CaseCheckupDelay/query',array('case_id'=>$caseCheckupData['case_id'],'cate'=>$newCate,'case_checkup_id'=>$caseCheckupData['id']))}"  class="btn btn-primary btn-sm-jimmy js-open js-end-refresh"><span class="glyphicon glyphicon-list-alt"></span> 审批信息</a>
    <button type="button" class="btn btn-primary btn-sm-jimmy"  disabled="disabled"><span class="glyphicon glyphicon-print"></span> 打印司法鉴定委托书</button>
    <button type="button" class="btn btn-primary btn-sm-jimmy" disabled="disabled"><span class="glyphicon glyphicon-retweet"></span> 重新委托检验鉴定</button>

</div>
