<!-- 面板 -->
<div class="panel panel-primary">
    <!-- 面板标题 -->
    <div class="panel-heading">事故认定</div>
    <!-- 面板内容 -->
    <div class="list-group" style="height:204px;overflow:auto;">
        <a href="{:U('CaseCognizance/escapeIndex?case_id='.$info['id'])}" class="list-group-item list-group-item-info js-open js-end-refresh" id="cognizanceBtnEscape" style="display:none;"><span class="glyphicon glyphicon-new-window"></span> 逃逸事故认定</a>
        <a href="{:U('CaseCognizance/simpleIndex?case_id='.$info['id'])}" class="list-group-item list-group-item-info js-open js-end-refresh" id="cognizanceBtnSimple" style="display:none;"><span class="glyphicon glyphicon-new-window"></span> 简易程序</a>
        <a href="{:U('checkIsCanNormalCognizance?sure=1&case_id='.$info['id'])}" class="list-group-item list-group-item-info" id="cognizanceBtnNormal" style="display:none;"><span class="glyphicon glyphicon-new-window"></span> 一般程序</a>
        <a href="{:U('checkIsCanNormalCognizance?sure=0&case_id='.$info['id'])}" class="list-group-item list-group-item-info" id="cognizanceBtnUn" style="display:none;"><span class="glyphicon glyphicon-new-window"></span> 一般程序</a>
        <div id="caseCognizanceContent"></div>
    </div>
</div>
