<style type="text/css">
#caseStatus {
    margin-bottom: 20px;
}
</style>
<div class="btn-group btn-group-justified" id="caseStatus">
    <div class="btn-group">
        <button name="accept_status" class="btn btn-default">受案信息</button>
    </div>
    <div class="btn-group">
        <button name="survey_status" class="btn btn-default">现场勘查信息</button>
    </div>
    <div class="btn-group">
        <button name="client_status" class="btn btn-default">当事人信息</button>
    </div>
    <div class="btn-group">
        <button name="record_status" class="btn btn-default">询问笔录</button>
    </div>
    <div class="btn-group">
        <button name="checkup_status" class="btn btn-default">检验鉴定</button>
    </div>
    <div class="btn-group">
        <button name="law_doc_status" class="btn btn-default">其他法律文书</button>
    </div>
    <div class="btn-group">
        <button name="cognizance_status" class="btn btn-default">事故认定</button>
    </div>
    <div class="btn-group">
        <button name="punish_status" class="btn btn-default">处罚</button>
    </div>
    <div class="btn-group">
        <button name="mediate_status" class="btn btn-default">调解</button>
    </div>
    <div class="btn-group">
        <button name="catalog_status" class="btn btn-default">归档</button>
    </div>
</div>
