<!-- 面板内容 -->
<div class="panel-body">
    <table class="table table-bordered table-condensed table-custom">
        <tr>
            <th width="20%"><span class="text-danger">*</span>&nbsp;鉴定对象</th>
            <td>
                <select name="checkup_org_item_pid" id="car-people-other" class="form-control input-sm" disabled="disabled" style="min-width:150px;max-width:150px;float:left;">
                    <option value="">请选择</option>
                    <foreach name="case_checkup_obj_type" item="vo">
                        <option value="{$key}" <eq name="key" value="$caseCheckupData['checkup_org_item_pid']">selected="selected"</eq> >{$vo}</option>
                    </foreach>
                </select>
                <select name="target_case_client_id" id="car-people-other-child" disabled="disabled" class="form-control input-sm " style="min-width:100px;max-width:300px;float:left;">
                    <option value="">请选择</option>
                </select>
                <input name="target_other" type="text" id="type_other" value="{$caseCheckupData['target_other']}" maxlength="250"  readOnly="readOnly" class="form-control input-sm" style="display:none;min-width:150px;max-width:300px;" />
            </td>
        </tr>
        <tr>
            <th><span class="text-danger">*</span>&nbsp;鉴定类型</th>
            <td>
                <select name="checkup_org_item_id" id="checktpye_child" disabled="disabled" class="form-control input-sm ">
                    <option value="">请选择</option>
                </select>
            </td>
        </tr>
        <tr>
            <th><span class="text-danger">*</span>&nbsp;鉴定机构名称</th>
            <td>
                <select name="checkup_org_id" id="org_type" disabled="disabled" class="form-control input-sm ">
                    <option value="">请选择</option>
                </select>
            </td>
        </tr>
        <tr>
            <th><span class="text-danger">*</span>&nbsp;约定完成时间</th>
            <td>
                <input type="text" class="form-control input-sm  " value="{$caseCheckupData['finish_time']|date='Y-m-d H:i',###}" name="finish_time" maxlength="16" readonly="readonly" />
            </td>
        </tr>
    </table>
    <!-- 案件ID 需要提交！！！！-->
    <input name="case_id" class="" type="hidden" id="case_id" value="{$caseCheckupData['case_id']}" />
    <!-- 案件ID -->
    <!-- 主键ID  无需再次提交 -->
    <input type="hidden" name="id" value="{$caseCheckupData['id']}" />
    <!-- 主键ID -->
    <!-- 主键ID  无需再次提交 -->
    <input type="hidden" id="target_other" name="target_other" value="{$caseCheckupData['target_other']}" />
    <!-- 主键ID -->

    <!-- 鉴定对象 level1 无需再次提交 用于AJAX自动加载 自动选择-->
    <input type="hidden" id="checkup_org_item_id" name="checkup_org_item_id" value="{$caseCheckupData['checkup_org_item_id']}" />
    <!-- 鉴定对象 level1 -->
    <!-- 鉴定对象 level2  无需再次提交 用于AJAX自动加载 自动选择-->
    <input type="hidden" id="target_case_client_id" value="{$caseCheckupData['target_case_client_id']}" />
    <!-- 鉴定对象 level2 -->
    <!-- 鉴定类型  无需再次提交 用于AJAX自动加载 自动选择-->
    <input type="hidden" id="checkup_org_item_id" value="{$caseCheckupData['checkup_org_item_id']}" />
    <!-- 鉴定类型 -->
    <!-- 鉴定机构名称  无需再次提交 用于AJAX自动加载 自动选择-->
    <input type="hidden" id="checkup_org_id" value="{$caseCheckupData['checkup_org_id']}" />
    <!-- 鉴定机构名称 -->
    <a class="btn btn-primary btn-sm-jimmy"   disabled="disabled"><span class="glyphicon glyphicon-saved"></span> 提请审批</a>

    <button type="button" class="btn btn-primary btn-sm-jimmy" id="examine-info"  disabled="disabled"><span class="glyphicon glyphicon-list-alt"></span> 审批信息</button>
    <button type="button" class="btn btn-primary btn-sm-jimmy"  disabled="disabled"><span class="glyphicon glyphicon-ok"></span> 确定</button>
    <!-- <button type="button" class="btn btn-warning" id="reset"><span class="glyphicon glyphicon-repeat"></span>  saved list-alt ok 重置</button> -->
</div>
