<div class="table-responsive">
    <table class="table table-bordered table-condensed table-form">
        <tr>
            <th width="15%">所属大队</th>
            <td width="35%">
                <select name="condition_department_id" class="form-control input-sm search-auto">
                    <option value="">请选择</option>
                    <volist name="department" id="vo">
                        <option value="{$vo.id}" <neq name="vo.cate" value="2">disabled="disabled" class="text-danger"</neq>>{$vo._prefix}{$vo.name}</option>
                    </volist>
                </select>
            </td>
            <th width="15%">办案人</th>
            <td>
                <input type="text" class="form-control input-sm search-auto" name="condition_case_handle_true_name" maxlength="255">
            </td>
        </tr>
        <tr>
            <th>事故发生时间</th>
            <td class="form-inline">
                <input type="text" class="form-control input-sm search-auto form-datetime" name="condition_accident_start_time" readonly="readonly" maxlength="16" style="width:130px;"> 至
                <input type="text" class="form-control input-sm search-auto form-datetime" name="condition_accident_end_time" readonly="readonly" maxlength="16" style="width:130px;">
            </td>
            <th>事故类型</th>
            <td>
                <select name="condition_accident_type" class="form-control input-sm search-auto">
                    <option value="">请选择</option>
                    <volist name="accidentType" id="vo">
                        <option value="{$key}">{$vo}</option>
                    </volist>
                </select>
            </td>
        </tr>
        <tr>
            <th>当事人</th>
            <td>
                <input type="text" class="form-control input-sm search-auto" name="condition_case_client_true_name" maxlength="255">
            </td>
            <th>交通方式</th>
            <td>
                <select name="condition_traffic_type" class="form-control input-sm search-auto">
                    <option value="">请选择</option>
                    <volist name="trafficType" id="vo">
                        <option value="{$key}">{$vo}</option>
                    </volist>
                </select>
            </td>
        </tr>
        <tr>
            <th>车牌号</th>
            <td colspan="3">
                <input type="text" class="form-control input-sm search-auto" name="condition_case_client_car_no" maxlength="255">
            </td>
        </tr>
    </table>
</div>
<div style="margin-bottom:20px;">
    <button type="button" class="btn btn-primary" id="search-submit"><span class="glyphicon glyphicon-search"></span> 查询</button>
    <button type="button" class="btn btn-warning" id="search-reset"><span class="glyphicon glyphicon-repeat"></span> 重置</button>
</div>
