<div class="table-responsive">
    <table class="table table-bordered table-condensed table-form">
        <tr>
            <th width="15%">当事人姓名</th>
            <td width="35%">
                <input type="text" class="form-control input-sm search-auto" name="condition_case_client_true_name" maxlength="255">
            </td>
            <th width="15%">车牌号</th>
            <td>
                <input type="text" class="form-control input-sm search-auto" name="condition_case_client_car_no" maxlength="255">
            </td>
        </tr>
        <tr>
            <th>事故发生时间</th>
            <td colspan="3">
                <table width="40.7%">
                    <tr>
                        <td>
                            <input type="text" class="form-control input-sm search-auto form-datetime" name="condition_start_time" readonly="readonly">
                        </td>
                        <td width="30" class="text-center">~</td>
                        <td>
                            <input type="text" class="form-control input-sm search-auto form-datetime" name="condition_end_time" readonly="readonly">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<div style="margin-bottom:20px;">
    <button type="button" class="btn btn-primary" id="search-submit"><span class="glyphicon glyphicon-search"></span> 查询</button>
    <button type="button" class="btn btn-warning" id="search-reset"><span class="glyphicon glyphicon-repeat"></span> 重置</button>
</div>
