body {
  padding-top: 40px;
  padding-bottom: 40px;
  /*background-color: #eee;*/
  background: url(../images/bg.jpg) center top no-repeat;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#login {
  position: relative;
  margin-top:120px;

  height: 407px;
  width: 674px;
  background: url(../images/login-bg.png) no-repeat;
}

#user_name {
  position: absolute;
  top: 156px;
  left: 380px;
  height: 22px;
  width: 203px;
  line-height: 22px;
  border: 0;
}

#password {
  position: absolute;
  top: 194px;
  left:380px;
  height: 22px;
  width: 203px;
  line-height: 22px;
  border: 0;
}
#submit {
  position: absolute;
  left:365px;
  top:242px;
  width: 62px;
  height: 29px;
  background: transparent;
  border: 0;

}