<extend name="Common/base" />
<block name="title">物品返还</block>
<block name="main.html">
    <!-- 页面主体 -->
    <div class="container-fluid main">
        <!-- 页头 -->
        <div class="head-space"></div>
        <!-- 搜索 -->
        <include file="CaseClientDetainSupervisor/pending/tab" />
        <!-- 列表面板 -->
        <div class="panel panel-default">
            <!-- 面板头 -->
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6"><span class="block-title">物品返还列表</span></div>
                    <div class="col-xs-6 text-right">
                        <button type="button" class="btn btn-danger btn-sm js-close"><span class="glyphicon glyphicon-off"></span> 关闭</button>
                    </div>
                </div>
            </div>
            <!-- 面板主体 -->
            <div class="panel-body">
                <!-- 搜索 -->
                <include file="CaseClientDetainSupervisor/pending/search" />
                <!-- 表格 -->
                <div class="table-responsive" id="table-content"></div>
                <!-- 分页 -->
                <include file="Inc/page" />
            </div>
        </div>
        <!-- 表格 结束 -->
    </div>
    <!-- 页面主体 结束 -->
</block>
<block name="head.ext">
    <script type="text/javascript">
    // 定义URL地址
    url.table = "{:U('pendingTable')}";
    //ajax读取部门下所有可选值班人员
    url.ajaxAllUsers = "{:U('ajaxAllUsers')}";
    //物品返还
    url.detainReturn = "{:U('detainReturn')}";


    </script>
</block>
<block name="foot.ext">
<div class="container-fluid" id="approval-box" style="display:none;margin-top:20px;">
        <table class="table table-bordered table-condensed table-custom">
            <tr>
                <th width="20%">返还时间</th>
                <td>
                    <input type="text" class="form-control input-sm  form-datetime" name="return_time"  value="{$nowtime|date='Y-m-d H:i',###}"  id="return_time" readonly="readonly">             
                </td>
            </tr>
        </table>
        <button type="button" class="btn btn-primary" id="approval-submit"><span class="glyphicon glyphicon-saved"></span> 确定</button>
        <button type="button" class="btn btn-danger" id="approval-close"><span class="glyphicon glyphicon-off"></span> 关闭</button>
    </div>
    <import file="js.CaseClientDetainSupervisor.pending?" basepath="{$Think.SRC_MODULE_URL}" />
</block>
