<extend name="Common/base" />
<block name="title">新增申请</block>
<block name="main.html">
    <!-- 页面主体 -->
    <div class="container-fluid main">
        <!-- 页头 -->
        <div class="head-space"></div>
        <!-- 面板 -->
        <div class="panel panel-default">
            <!-- 面板标题 -->
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6"><span class="block-title">新增申请</span></div>
                    <div class="col-xs-6 text-right">
                        <button type="button" class="btn btn-danger btn-sm js-close"><span class="glyphicon glyphicon-off"></span> 关闭</button>
                    </div>
                </div>
            </div>
            <!-- 面板内容 -->
            <div class="panel-body">
                <table class="table table-bordered table-condensed table-form">
                    <tr>
                        <th width="15%"><span class="text-danger">*</span> 申请人</th>
                        <td class="form-inline">
                            <select name="case_client_relater_id" class="form-control input-sm"></select>
                            <a href="{:U('CaseClientRelaterCaseReviewHandle/index?case_id='.$caseReview['case_id'])}" type="button" class="btn btn-primary btn-sm js-open js-end-refresh">新增</a>
                        </td>
                    </tr>
                    <tr>
                        <th><span class="text-danger">*</span> 性别</th>
                        <td>
                            <select name="sex" class="form-control input-sm post-gather">
                                <option value="">请选择</option>
                                <option value="1">男</option>
                                <option value="0">女</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th><span class="text-danger">*</span> 身份证号码</th>
                        <td>
                            <input type="text" class="form-control input-sm post-gather" name="idno" maxlength="255">
                        </td>
                    </tr>
                    <tr>
                        <th><span class="text-danger">*</span> 出生日期</th>
                        <td>
                            <input type="text" class="form-control input-sm post-gather form-date" name="date_of_birth" maxlength="10" readonly="readonly">
                        </td>
                    </tr>
                    <tr>
                        <th><span class="text-danger">*</span> 交通方式</th>
                        <td>
                            <select name="traffic_type" class="form-control input-sm post-gather">
                                <option value="">请选择</option>
                                <volist name="trafficType" id="vo">
                                    <option value="{$key}">{$vo}</option>
                                </volist>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th><span class="text-danger">*</span> 与当事人关系</th>
                        <td>
                            <input type="text" class="form-control input-sm post-gather" name="relation" maxlength="255">
                        </td>
                    </tr>
                    <tr>
                        <th><span class="text-danger">*</span> 申请理由及事实</th>
                        <td>
                            <textarea name="content" class="form-control input-sm post-gather" style="height:200px;"></textarea>
                        </td>
                    </tr>
                </table>
                <input type="hidden" name="case_review_id" value="{$caseReview.id}" class="post-gather">
                <input type="hidden" name="case_id" value="{$caseReview.case_id}">
                <button type="button" class="btn btn-primary" id="submit"><span class="glyphicon glyphicon-saved"></span> 提交</button>
                <button type="button" class="btn btn-warning" id="reset"><span class="glyphicon glyphicon-repeat"></span> 重置</button>
            </div>
        </div>
    </div>
</block>
<block name="head.ext">
    <script type="text/javascript">
    // 定义URL地址
    url.update = "{:U('insert')}";
    url.getApplyer = "{:U('getApplyer')}";
    url.getApplyerInfo = "{:U('getApplyerInfo')}";
    </script>
</block>
<block name="foot.ext">
    <import file="js.CaseReviewApplyHandle.add?" basepath="{$Think.SRC_MODULE_URL}" />
</block>
