<table class="table table-striped table-bordered table-hover table-condensed table-sheet" id="table" data-totalrows="{$page.totalrows}" data-totalpage="{$page.totalpage}" data-nowpage="{$page.nowpage}">
    <!-- <thead> -->
    <tr>
        <th width="10%">委托书编号</th>
        <th width="10%">鉴定对象</th>
        <th width="10%">鉴定类型</th>
        <th width="15%">鉴定机构名称</th>
        <th width="10%">委托时间</th>
        <th width="10%">约定完成时间</th>
        <th width="80">委托书</th>
        <th width="80">检验鉴定报告</th>
        <th width="80">状态</th>
        <th width="">作废原因</th>
        <th width="80">操作</th>
    </tr>
    <!-- </thead> -->
    <tbody>
        <tr class="table_content">
            <volist name="list" id="vo">
                <tr class="table_content">
                    <td>{$vo.id}</td>
                    <td>
                        <eq name="vo.checkup_org_item_pid" value="1">
                            人员:{$vo.case_client_name}
                        </eq>
                        <eq name="vo.checkup_org_item_pid" value="2">
                            车辆:{$vo.case_client_car_no}
                        </eq>
                        <eq name="vo.checkup_org_item_pid" value="3">
                            其他:{$vo.target_other|mb_substr=0,25,'utf8'}
                        </eq>
                    </td>
                    <td>{$vo.checkup_org_item_name}</td>
                    <td>{$vo.checkuporg_name}</td>
                    <td>{$vo.create_time|date='Y-m-d H:i',###}</td>
                    <td>{$vo.finish_time|date='Y-m-d H:i',###}</td>
                    <td>{$vo.pic_count1}</td>
                    <td>{$vo.pic_count2}</td>
                    <td>作废</td>
                    <!-- <td>{$vo.cancel_reason|mb_substr=0,25,'utf8'}</td> -->
                    <td ><div style="min-width:50px;max-width:240px;word-wrap: break-word;">{$vo.cancel_reason}</div></td>
                    <td>
                        <assign name="entrust" value="$vo.entrust" />
                        <a href="{:U('CaseQueryCheckup/detail',array('case_id'=>$vo['case_id'],'case_checkup_id'=>$vo['id']))}" class="btn btn-primary btn-sm js-open js-end-refresh"><!-- <span class="glyphicon glyphicon-eye-open"></span> --> 查看</a>
                    </td>
                </tr>
            </volist>
        </tr>
    </tbody>
</table>
