<h3 class="row">
    <div class="col-xs-6"><span class="block-title">现场处置信息</span></div>
    <div class="col-xs-6 text-right">
        <div class="btn btn-primary btn-sm" id="add-process"><span class="glyphicon glyphicon-plus"></span> 添加</div>
    </div>
</h3>
<table class="table table-bordered table-hover table-condensed table-sheet">
    <tr>
        <th width="200">处警时间</th>
        <th>处警内容</th>
        <th width="100">操作</th>
    </tr>
    <tbody class="hide" id="process-template">
        <tr class="text-center">
            <td>
                <input type="text" class="form-control input-sm form-datetime" name="process_time" maxlength="16" readonly="readonly">
            </td>
            <td>
                <input type="text" class="form-control input-sm" name="content" maxlength="255">
            </td>
            <td>
                <div class="btn btn-warning btn-sm del-process">删除</div>
            </td>
        </tr>
    </tbody>
    <tbody id="process-list"></tbody>
</table>
<hr>
