<extend name="Common/base" />
<block name="title">{$type}</block>
<block name="main.html">
    <!-- 页面主体 -->
    <div class="container-fluid main">
        <!-- 页头 -->
        <div class="head-space"></div>
        <!-- 面板 -->
        {:W('CasePhoto/index', array($type,$case['id'],$cate,$id))}
    </div>
</block>
<block name="head.ext">
    <style>
        #administrative-sanction input,select{
            min-width:auto!important;
            width:100%!important;
        }
    </style>
    <script>
        url.photoList = "{:U('photoList')}";
        //删除图片
        url.delete = "{:U('CasePhoto/delete')}";
        url.download = "{:U('Common/download')}";
    </script>
</block>
<block name="foot.ext">

    <import file="js.CaseRecordHandle.photoTable?" basepath="{$Think.SRC_MODULE_URL}" />
</block>
