<extend name="Common/base" />
<block name="title">检验鉴定</block>
<block name="main.html">
    <!-- 页面主体 -->
    <div class="container-fluid main">
        <!-- 页头 -->
        <div class="head-space"></div>
        <!-- 面板 -->
        <div class="panel panel-default form-inline1">
            <!-- 面板标题 -->
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6"><span class="block-title">检验鉴定</span></div>
                    <div class="col-xs-6 text-right">
                        <button type="button" class="btn btn-danger btn-sm js-close"><span class="glyphicon glyphicon-off"></span> 关闭</button>
                    </div>
                </div>
            </div>
            <!-- stepstart-->
                <eq name="caseCheckupData.is_out" value="0">
                    <eq name="caseCheckupData.is_delay" value="0">
                        <!-- case1不超期 不延期 -->
                        <!-- 00?步骤判断start1：不超期 不延期 则：步骤one不可操作 不可点提请击审批按钮  不可点击审批信息按钮 不可点击确认按钮 步骤two可操作-->
                        <include file="CaseCheckup/applyStepTwo/partOne" />
                        <include file="CaseCheckup/applyStepTwo/partTwo" />
                        <!-- 步骤判断end-->
                        <else/>
                        <!-- case2不超期 延期 -->
                        <eq name="caseCheckupReviewData.status" value="">
                            <!-- 01null步骤判断start2：不超期 但是延期 而且无审批记录 则：步骤one不可操作 可点提请击审批按钮 可点击审批信息按钮 不可点击确认按钮 步骤two不可操作-->
                            <include file="CaseCheckup/applyStepTwo/partOneNoRecord" />
                            <include file="CaseCheckup/applyStepTwo/partTwoForbidden" />
                            <!-- 步骤判断end-->
                        </eq>
                        <eq name="caseCheckupReviewData.status" value="0">
                            <!-- 010步骤判断start3：不超期 但是延期 而且已经提请的审批状态是 待审核 则：步骤one不可操作 不可点提请击审批按钮  可点击审批信息按钮   不可点击确认按钮 步骤two不可操作-->
                            <include file="CaseCheckup/applyStepTwo/partOneCheckInfo" />
                            <include file="CaseCheckup/applyStepTwo/partTwoForbidden" />
                            <!-- 步骤判断end-->
                        </eq>
                        <eq name="caseCheckupReviewData.status" value="1">
                            <!-- 011步骤判断start4：不超期 但是延期 而且已经提请的审批状态是通过状态 则：步骤one不可操作  不可点提请击审批按钮 可点击审批信息按钮   不可点击确认按钮 步骤two可操作-->
                            <include file="CaseCheckup/applyStepTwo/partOneCheckInfo" />
                            <include file="CaseCheckup/applyStepTwo/partTwo" />
                            <!-- 步骤判断end-->
                        </eq>
                        <eq name="caseCheckupReviewData.status" value="2">
                            <!-- 012步骤判断start5：不超期 但是延期 而且已经提请的审批状态是  拒绝状态 则：步骤one不可操作 不可点提请击审批按钮 可点击审批信息按钮 可点击确认按钮 步骤two不可操作-->
                            <if condition="($caseCheckupData.out_checked eq '0') and ($caseCheckupData.delay_checked eq '0')">
                                <include file="CaseCheckup/applyStepTwo/partOneForbidden" />
                                <else/>
                                <include file="CaseCheckup/applyStepTwo/partOneCheckRefuse" />
                            </if>
                            <include file="CaseCheckup/applyStepTwo/partTwoForbidden" />
                            <!-- 步骤判断end-->
                        </eq>
                    </eq>
                    <else/>
                    <eq name="caseCheckupData.is_delay" value="0">
                        <!-- case3超期 不延期 -->
                        <eq name="caseCheckupReviewData.status" value="">
                            <!-- 10null步骤判断start6：超期 不延期 而且无审批记录 则：步骤one不可操作 可点提请击审批按钮 可点击审批信息按钮 不可点击确认按钮 步骤two不可操作-->
                            <include file="CaseCheckup/applyStepTwo/partOneNoRecord" />
                            <include file="CaseCheckup/applyStepTwo/partTwoForbidden" />
                            <!-- 步骤判断end-->
                        </eq>
                        <eq name="caseCheckupReviewData.status" value="0">
                            <!-- 100步骤判断start7：超期 不延期 而且已经提请的审批状态是 待审核 则:步骤one不可操作 不可点提请击审批按钮  可点击审批信息按钮   不可点击确认按钮 步骤two不可操作-->
                            <include file="CaseCheckup/applyStepTwo/partOneCheckInfo" />
                            <include file="CaseCheckup/applyStepTwo/partTwoForbidden" />
                            <!-- 步骤判断end-->
                        </eq>
                        <eq name="caseCheckupReviewData.status" value="1">
                            <!-- 101步骤判断start8：超期 不延期 而且已经提请的审批状态是通过状态 则：步骤one不可操作 不可点提请击审批按钮  不可点击审批信息按钮   不可点击确认按钮步骤two可操作-->
                            <include file="CaseCheckup/applyStepTwo/partOneCheckInfo" />
                            <include file="CaseCheckup/applyStepTwo/partTwo" />
                            <!-- 步骤判断end-->
                        </eq>
                        <eq name="caseCheckupReviewData.status" value="2">
                            <!-- 102步骤判断start9：超期 不延期 而且已经提请的审批状态是  拒绝状态 则：步骤one不可操作 不可点提请击审批按钮 可点击审批信息按钮 可点击确认按钮 步骤two不可操作-->
                            <if condition="($caseCheckupData.out_checked eq '0') and ($caseCheckupData.delay_checked eq '0')">
                                <include file="CaseCheckup/applyStepTwo/partOneForbidden" />
                                <else/>
                                <include file="CaseCheckup/applyStepTwo/partOneCheckRefuse" />
                            </if>
                            <include file="CaseCheckup/applyStepTwo/partTwoForbidden" />
                            <!-- 步骤判断end-->
                        </eq>
                        <else/>
                        <!-- case3超期 延期 -->
                        <eq name="caseCheckupReviewData.status" value="">
                            <!-- 11null步骤判断start10：超期 不延期 而且无审批记录 则：步骤one不可操作 可点提请击审批按钮 可点击审批信息按钮 不可点击确认按钮 步骤two不可操作-->
                            <include file="CaseCheckup/applyStepTwo/partOneNoRecord" />
                            <include file="CaseCheckup/applyStepTwo/partTwoForbidden" />
                            <!-- 步骤判断end-->
                        </eq>
                        <eq name="caseCheckupReviewData.status" value="0">
                            <!-- 110步骤判断start11：超期 不延期 而且已经提请的审批状态是 待审核 则:步骤one不可操作 不可点提请击审批按钮  可点击审批信息按钮   不可点击确认按钮 步骤two不可操作-->
                            <include file="CaseCheckup/applyStepTwo/partOneCheckInfo" />
                            <include file="CaseCheckup/applyStepTwo/partTwoForbidden" />
                            <!-- 步骤判断end-->
                        </eq>
                        <eq name="caseCheckupReviewData.status" value="1">
                            <!-- 111步骤判断start12：超期 不延期 而且已经提请的审批状态是通过状态 则：步骤one不可操作 不可点提请击审批按钮  不可点击审批信息按钮   不可点击确认按钮步骤two可操作-->
                            <include file="CaseCheckup/applyStepTwo/partOneForbiddenAll" />
                            <include file="CaseCheckup/applyStepTwo/partTwo" />
                            <!-- 步骤判断end-->
                        </eq>
                        <eq name="caseCheckupReviewData.status" value="2">
                            <!-- 112步骤判断start13：超期 不延期 而且已经提请的审批状态是  拒绝状态 则：步骤one不可操作 不可点提请击审批按钮 可点击审批信息按钮 可点击确认按钮 步骤two不可操作-->
                            <if condition="($caseCheckupData.out_checked eq '0') and ($caseCheckupData.delay_checked eq '0')">
                                <include file="CaseCheckup/applyStepTwo/partOneForbidden" />
                                <else/>
                                <include file="CaseCheckup/applyStepTwo/partOneCheckRefuse" />
                            </if>
                            <include file="CaseCheckup/applyStepTwo/partTwoForbidden" />
                            <!-- 步骤判断end-->
                        </eq>
                    </eq>
                </eq>
        </div>
        <include file="CaseCheckup/applyStepTwo/photoUploadForbidden" />
        <!-- 步骤three -->
        <include file="CaseCheckup/applyStepTwo/partThreeForbidden" />
        <!-- 步骤four -->
        <include file="CaseCheckup/applyStepTwo/partFourForbidden" />
        <!-- 步骤five -->
        <include file="CaseCheckup/applyStepTwo/partFiveForbidden" />
        <!-- steps end-->
        <input type="hidden" id="update_type" value="{$Think.get.update_type}"/>
        <!-- <input id="entrust_cookie_data" value="{$entrust_cookie_data}"/> -->
    </div>
</block>
<block name="head.ext">
    <script type="text/javascript">
    // 定义URL地址
    url.update = "{:U('applyStepTwoUpdate')}";
    url.getTypeChild = "{:U('getTypeChild')}";
    url.getClient = "{:U('getClient')}";
    url.getOrgChild = "{:U('getOrgChild')}";
    url.getClientInfo = "{:U('getClientInfo')}";
    url.entrustInsert = "{:U('entrustInsert')}";
    url.setCookie = "{:U('setCookie')}";
    var entrust_cookie_data = '{$entrust_cookie_data}';
    </script>
</block>
<block name="foot.ext">

    <import file="js.CaseCheckup.applyStepTwo?" basepath="{$Think.SRC_MODULE_URL}" />
</block>
